html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "navigation"
        "main";
}

 /* --- HEADER --- */
.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #7477bf;
    height: 60px;
    color: white;
}

.header h1 {
    font-size: 1.2rem;
    font-weight: 100;
    margin-left: 1rem;
}

.header span {
    font-weight: 400;
}

.header sup {
    font-size: 40%;
    font-weight: 400;
}

.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
}

.header svg {
    margin-top: 4px;
}

.header .vl {
    border-left: 1px solid #9094b7;
    height: 40px;
    margin-left: 10px;
}

.header img {
    border-radius: 50%;
    margin-left: 10px;
}

.header h3 {
    font-size: 0.8rem;
    font-weight: 300;
    margin-left: 10px;
}

/* --- NAV --- */
.nav {
    grid-area: navigation;
    background-color: #4d4c72;
}

.nav a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 8px 26px;
}

/* --- MAIN --- */
.main {
    grid-area: main;
}

.main h3 {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-weight: 500;
}

.main-header {
    display: flex;
    height: 60px;
}

.headline {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
    border-right: 1px solid #cccccc;
    background-color: white;
    width: 33.33%;
}

.tab {
    background-color: #f7f7f7;
    border-bottom: 1px solid #cccccc;
    width: 66.66%;
}

/* --- ALERT BAR --- */
.alert {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #7477bf;
    background-color: #7477bf;
    font-weight: 200;
    font-size: 0.9rem;
    border-radius: 5%;
    height: 35px;
    margin: 1rem;
    color: white;
}

.alert span {
    font-weight: 400;
    margin-left: 1rem;
}

/* --- TRAFFIC SECTION --- */
.traffic {
    margin: 0rem 1rem 0rem 1rem;
}

.traffic-nav {
    list-style-type: none;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 70px 1fr;
        grid-template-areas: 
            "header header"
            "navigation main";
    }

    /* --- SIDEBAR NAV --- */
   .nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
   }
   
   .nav img {
       margin-top: 20px;
   }

   /* --- TRAFFIC SECTION --- */

    .traffic-header {
        list-style-type: none;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }

    .traffic-nav-link {
        font-weight: 400;
        margin-left: 15px;
    }

}